{% extends 'main/index.html' %}
{% load static %}
{% block main_content %}
<div class="first_container" style="min-height: 600px;">
    <font face="RalewayRegular" size="6">
        Оформить заказ в нашем интернет-зоомагазине Вы можете с помощью Корзины или по телефону. Заказы через сайт принимаются ежедневно и круглосуточно.
        Заказы по телефону принимаются по будням с 9-00 до 18-00. После обработки Вашего заказа, наш менеджер обязательно свяжется с Вами для согласования
        дня и времени доставки. Получить консультацию  по любому вопросу, касающемуся товаров, работы нашего интернет-зоомагазина, а также вариантов сотрудничества,
        Вы можете по одному из телефонов:<br>
        <strong>- (057) XXX-XX-XX – прямой городской номер <br>
        - (098) XX-XX-XXX – Киевстар <br>
        - (099) XXX-XX-XX – МТС <br>
        - (093) XXX-XX-XX – Лайф (+Viber)<br>
        </strong>
        По указанным выше телефонам наши менеджеры смогут Вам ответить только в рабочее время: в будни с 9 до 18, в субботу с 10 до 15.<br>
        Также по всем интересующим вопросам Вы можете связаться с нами по электронной почте: XXXXXXXX@ukr.net<br>
    </font>
</div>
{% endblock %}