{% extends 'main/index.html' %}
{% load static %}
{% block main_content %}
<div class="first_container">
    <font face="RalewayRegular" size="3">
        <h3>Доставка по Харькову</h3>
        Доставка по городу Харькову осуществляется бесплатно, если сумма оплаченного заказа превышает 300 грн. Стоимость доставки заказа на сумму менее 300 грн составляет 40 грн. Заказы на доставку товаров день-в-день принимаются строго до 13-00 каждый будний день. Доставка товаров по городу осуществляется с понедельника
        по пятницу с 16-00 до 22-00. По желанию клиента возможно указать для курьера желаемый интервал доставки. Курьер приложит все усилия для того, что доставить все заказы в указаныые клиентами
        временные интервалы, но по причинам независящим от него (ремонты дорог, пробки, снегопады, гололед и тд), гарантировать доставку в узком временном интервале мы не можем. Поэтому рекомендуем
        указывать для доставки максимально широкий временной интервал, чтобы гарантированно получить заказ в оговоренный с менеджером день. Если клиент не может получить заказ в указанный временной
        интервал, он должен сообщить об этом в день доставки до 15-00. В случае незабора всего заказа клиентом возможен перенос его доставки на более поздний срок или отказ от доставки, но при этом
        клиентом оплачивается стоимость доставки в размере 40 грн. Курьер не перезванивает клиенту дополнительно за несколько минут до доставки, если клиент не указал этого при согласовании заказа с
        менеджером. Максимально возможное время ожидания клиента курьером, если он прибыл по необходимому адресу и позвонил сообщил об этом клиенту (например, в случаях когда не работает домофон,
        клиенту нужно спускаться из офиса, клиент отлучился из дому и т.д.), не более 10 минут.<br/>
        Оплата заказа осуществляется при его получении наличным расчетом или безналичным до 14-00 в день доставки. При получении заказа клиент должен проверить в соответствии с накладной количество
        товара, фасовки, целостность упаковки и сроки годности. После получения заказа претензии по товару не принимаются.<br/>
        <h3>Доставка в ближний пригород Харькова</h3>
        Бесплатная доставка в ближний пригород Харькова (Циркуны, Докучаева, Логачевка, Лелюки, Хролы, Пономаренки, Нов. Коротич, Безлюдовка, Бабаи, Покотиловка, Песочин, Подворки, Родичи, Черк.
        Лозовая, Лесное) осуществляется при заказах от 1000 грн. Стоимость доставки заказа на сумму менее 1000 грн составляет 14 грн/км (для рассчета берется расстояние от окружной или знака нас.
        пункт "Харьков" до адреса доставки), но не менее 40 грн. Заказы на доставку товаров день-в-день принимаются строго до 13-00 каждый будний день.
        Доставка товаров по городу осуществляется с понедельника по пятницу с 16-00 до 22-00. По желанию клиента возможно указать для курьера желаемый интервал доставки. Курьер приложит все усилия
        для того, что доставить все заказы в указаныые клиентами временные интервалы, но по причинам независящим от него (ремонты дорог, пробки, снегопады, гололед и тд), гарантировать доставку в
        узком временном интервале мы не можем. Поэтому рекомендуем указывать для доставки максимально широкий временной интервал, чтобы гарантированно получить заказ в оговоренный с менеджером день.
        Если клиент не может получить заказ в указанный временной интервал, он должен сообщить об этом в день доставки до 15-00. В случае незабора всего заказа клиентом возможен перенос его доставки
        на более поздний срок или отказ от доставки, но при этом клиентом оплачивается стоимость доставки в размере 40 грн. Курьер не перезванивает клиенту дополнительно за несколько минут до доставки,
        если клиент не указал этого при согласовании заказа с менеджером. Максимально возможное время ожидания клиента курьером, если он прибыл по необходимому адресу и позвонил сообщил об этом клиенту
        (например, в случаях когда не работает домофон, клиенту нужно спускаться из офиса, клиент отлучился из дому и т.д.), не более 10 минут.<br/>
        Оплата заказа осуществляется при его получении наличным расчетом или безналичным до 14-00 в день доставки. При получении заказа клиент должен проверить в соответствии с накладной количество
        товара, фасовки, целостность упаковки и сроки годности. После получения заказа претензии по товару не принимаются.<br/>
        <h3>Доставка по Харькову на отделение Новой Почты</h3>
        Доставка до ближайшего отделения Новой Почты, с которого заказ поедет на отделение клиента – бесплатная. Расходы за услуги Новой Почты оплачивает
        клиент. Для того чтобы отправка была произведена день-в-день, оплата (предоплата) должна поступить до 13-00.<br/>
        При получении заказа необходимо обязательно проверить соответствие количества, фасовок и целостность товаров. Претензии по несоответствию заказа принимаются только в момент
        получения заказа на складе компании-перевозчика. Упаковку товаров для отправки наша компания берет на себя, кроме тех случаев, в которых требуется специальная упаковка (например,
        для стекла, керамики и прочих хрупких габаритных товаров). Расходы на спец. упаковку оплачивает получатель.<br/>
        <h3>Самовывоз в Харькове</h3>
        Заказанный Вами товар можно забрать по Вашему желанию самовывозом из офиса по адресу: ул. XXXXXXXXXXXX, XX. График работы: будни с 9-00 до 18-00, суббота с 10-00 до 15-00, воскресенье
        выходной. После перемещения Вашего заказа со склада на офис Вам придет SMS оповещение. До прихода SMS приезжать за заказом не следует.<br/>
        <h3>Доставка по Украине</h3>
        Отправка товаров в другие города осуществляется за счет получателя одной из транспортных компаний (на выбор клиента): Новая Почта и Деливери.<br/>
        При получении заказа необходимо обязательно проверить соответствие количества, фасовок и целостность товаров. Претензии по несоответствию
        заказа принимаются только в момент получения заказа на складе компании-перевозчика. Упаковку товаров для отправки наша компания берет на себя, кроме тех случаев, в которых требуется
        специальная упаковка (например, для стекла, керамики и прочих хрупких габаритных товаров). Расходы на спец. упаковку оплачивает получатель.<br/>
        <h3>Возврат товара</h3>
        Возврат товара возможен в соответствии с Законом Украины в течении 14 календарных дней с момента покупки. Для возврата товар должен быть в оригинальной упаковке, с бирками
        (если таковые предусмотрены) и без следов использования. Акционный товар возврату и обмену не подлежит! Вернуть товар возможно только предварительно согласовав возврат с менеджером.
        В случае возврата товара с другого города расходы на пересылку товара оплачивает клиент.<br/>
    </font>
</div>
{% endblock %}