{% extends 'main/index.html' %}
{% load static %}
{% block main_content %}
<div class="first_container">
    <img src="{% static 'main/img/main_2.png' %}" width="750" height="646" class="picture_to_right" style="border: 2px solid var(--border_color);">
    <font face="RalewayRegular" size="6">
          Добро пожаловать в харьковский интернет зоомагазин. Интернет зоомагазин - это большой выбор товаров для аквариумных рыбок и домашних животных. На ваш выбор представлены корма, витамины и добавки, средства для ухода и гигиены, домики,
          клетки, игрушки, туалеты, лежаки, всевозможные аксессуары и амуниция, а также многое другое. На сайте нашего зоомагазина представлены товары производителей с мировым именем, многолетний опыт работы которых является гарантией высокого
          качества выпускаемой ими продукции. Поэтому можете быть уверены, что купленный в нашем интернет зоомагазине товар порадует и Вас и Вашего питомца. Производить покупки в нашем интернет зоомагазине очень удобно, просто и выгодно! Для вашего
          удобства предусмотрена доставка заказанного Вами товара не только в пределах Харькова, но и по всей Украине.
          Ваши домашние питомцы - это не просто животные, обитающие у нас дома - это любимые создания и члены семьи, поэтому они постоянно нуждаются в Вашем внимании и заботе. Наш интернет зоомагазин создан специально для того, чтобы помочь Вам в
          выборе и покупке не только корма, но и других сопутствующих аксессуаров, для комфорта Вашего домашнего питомца.
          Приятных и полезных Вам покупок в нашем интернет зоомагазине!
    </font>
</div>
{% endblock %}